lib/iris-build.properties
lib/iris-client.properties
build/
# iris-server*
# iris-client*
*.rej
*.orig
*.swp
devel/
devel*.cfg
patches*
/iris-client

# For Eclipse/development output
bin/eclipse/
/dev/
